.DS_Store
.ipynb_checkpoints
__pycache__
*.so
*.o
Photo.run
*.mod
build
*.a
a.out
test.run
*.dSYM
.vscode


src/Stringifor
build_dir
src/dependencies/lib
src/dependencies/include
src/dependencies/examples
src/dependencies/cmake
src/dependencies/modules

random.ipynb


